<div class="select" [ngClass]="{'goal-kipper':goalKipperClass}">
    <ion-icon name="shirt"  [ngStyle]="{'color':selectedPlayer.id>0?'aqua': 'lavender'}" [ngClass]="{'requiredIcon':selectedPlayer.id===0 && isSubmitted$}"></ion-icon>
    <mat-form-field>
        <mat-select [disabled]="isPlayerInReplaceMode || disableSelect" [(ngModel)]="selectedPlayer" (ngModelChange)="onSelected()">
            <mat-option [value]="emptyPlayer.id === selectedPlayer.id ? selectedPlayer : emptyPlayer"
            ></mat-option>
            <mat-option *ngFor="let player of players$" [value]="player">{{player.lastName}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
