.select {
  width: 65px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

ion-icon {
  width: 65px;
  font-size: 31px;
  color: aqua;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.mat-form-field {
  width: 66px;
}

.goal-kipper {
  text-align: center;
  margin-top: -19px;
  z-index: 10;
}
