ion-thumbnail{
  width: 100px;
}

img{
  width: -webkit-fill-available;
}

mat-toolbar{
  background: white;
  color: gray;
  padding: 0px
;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: inherit;
}

h2{
  text-align: center;
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-icon{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.radio{
  margin-top: 10px;
  margin-right: 10px;
}

.score{
  text-align: center;
  border: 3px green solid;
}

.radio-group{
  text-align: center;
  margin-top: 10px;
}




