.select {
  text-align: center;
  padding: 0px;
  margin: 0px;
  width:90px;
}

mat-form-field{
  width:90px;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}





